.cardslist {
	width: 1240px;
	height: fit-content;
	margin-top: 45px;
	margin-bottom: 50px;
	padding-bottom: 45px;
	background: #F7F7F7;
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}