$color_1: white;
$font-family_1: 'Montserrat';

.card {
	width: 340px;
	height: 340px;
	margin-top: 45px;
    border-radius: 10px;
	cursor: pointer;
    .card__image {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
    }
    .card__overlay {
        position: absolute;
    }
    .card__title {
        position: relative;
        font-family: $font-family_1;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: $color_1;
        width: 250px;
        height: fit-content;
        bottom: 90px;
        left: 18px;
    }
}