$color_1: white;
$font-family_1: 'Montserrat';

.footer {
	width: 1440px;
	height: 209px;
	background: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    .footer__logo {
        margin-top: 50px;
        margin-bottom: 15px;
        width: 122px;
    }
    .footer__text {
        color: $color_1;
        font-family: $font-family_1;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
    }
}
