$color_1: white;
$font-family_1: 'Montserrat';

.footer {
	width: 100%;
	height: 209px;
	background: #000000;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    .footer__logo {
        margin-top: 50px;
        margin-bottom: 15px;
        max-width: 122px;
    }
    .footer__text {
        color: $color_1;
        font-family: $font-family_1;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 12px;
        width: 100px;
        @media (min-width: 768px) {
            font-size: 24px;
            width: auto;
        }
    }
}