$color_1: #FF6060;
$background-color_1: white;

.header {
	max-width: 1440px;
	background-color: $background-color_1;
    .banner {
        width: 1240px;
        height: 68px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 50px;
        background-color: $background-color_1;
        .banner__logo {
            height: auto;
            width: auto;
        }
        .banner__navigation {
            display: flex;
            flex-direction: row;
            width: fit-content;
            height: 34px;
            padding: 0px;
            gap: 57px;
            .banner__navlink {
                color: $color_1;
                font-size: 24px;
                font-weight: 500;
                text-align: right;
                text-decoration: none;
            }
            .banner__navlink:hover {
                text-decoration: underline;
            }
        }
    }
}




