.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.home-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1240px;
    // height: 1095px;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}