.landscape {
    width: auto;
    height: 223px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.landscape-overlay {
    background-color: black;
    mix-blend-mode: darken;
}

.landscape-image {
    opacity: 0.7;
}

.landscape-legend {
    display: flex;
    align-items: flex-end;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    position: absolute;
}