$color_1: white;
$font-family_1: Montserrat;
@mixin button-image {
    background-repeat: no-repeat;
	background-size: contain;
}

.slideshow {
	// width: 1240px;
    width: 86%;
    height: 255px;
    min-width: 335px;
    @media (min-width: 768px) {
        width: 86%;
	    height: 415px;
    }
    .slideshow__switchcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;
        .slideshow__currentImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            @media (min-width: 768px) {
                border-radius: 25px;
            }
        }
        .slideshow__buttons {
            width: 15px;
            height: 24px;
            position: absolute;
            border: none;
            cursor: pointer;
            margin: 20px;
            @media (min-width: 768px) {
                width: 47px;
                height: 79px;
            }
        }
        .slideshow__buttonPrev {
            left: 0px;
            background: url("../assets/arrow_left.svg");
            @include button-image;
        }
        .slideshow__buttonNext {
            right: 0px;
            background: url("../assets/arrow_right.svg");
            @include button-image;
        }
        .slideshow__counter {
            position: absolute;
            bottom: 0%;
            width: 20%;
            left: 40%;
            text-align: center;
            color: $color_1;
            font-size: 18px;
            font-family: $font-family_1;
            font-weight: 500;
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
        }
    }
}

